.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 550;
    background-color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
    display: flex;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.backdrop-is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0);
}

.modal {
    margin: auto;
    padding: 20px;
    background-color: var(--bgc-color-second);
    border-radius: 20px;
}

.modalQuery {
    font-size: 16px;
    color: var(--color-btn-link-main);
    margin-bottom: 30px;
}

.buttonContainer {
    display: flex;
}