.container {
    display: flex;
    align-items: center;
}

.mobile {
    gap: 15px;
}

.tabletDesktop {
    gap: 20px;
}

.iconTabletDesktop {
    width: 40px;
    height: 40px;
}

.icon {
    background-image: url('../../../public/images/Wallet.png');
    background-size: cover;
}

.iconMobile {
    width: 30px;
    height: 30px;
}

.walletTabletDesktop {
    font-size: 30px;
    font-weight: 700;
}

.walletMobile {
    font-size: 20px;
    font-weight: 700;
}