.modalOverlay {
  z-index: 550;
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: not-allowed;
  transform: scale(1);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}

.modal {
  width: 100vh;
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  overflow: auto;
  cursor: pointer;
}

.closeButton {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
  display: none;
}

.modalContent {
  padding: 10px;
  cursor: pointer;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.headline {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 40px;
}

.rangeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  margin-bottom: 0;
}

.rangeContainerExpense {
  margin-bottom: 42px;
}

.income {
  color: #24cca7;
  text-align: right;
  font-family: Circe;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 120px;
}

.expense {
  color: var(--Gray-5, #ff6596);
  font-family: Circe;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 120px;
}

.nohighlight {
  color: #e0e0e0;
}

.toggleButton {
  width: 80px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid var(--Gray-5, #e0e0e0);
  background: #fff;
  cursor: pointer;
}

.toggleButtonIncome {
  position: absolute;
  top: -10px;
  left: 177px;
}

.toggleButtonExpense {
  position: absolute;
  top: -10px;
  right: 180px;
}

.toggleButtonInput {
  width: 1px;
  display: none;
}

.range {
  width: 80px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid var(--Gray-5, #e0e0e0);
  background: #fff;
}

.categoryWrapper {
  position: relative;
}

.category {
  width: 280px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  color: var(--Gray-4, #bdbdbd);
  font-family: 'Circe', sans-serif;
  padding-bottom: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  cursor: pointer;
  transition: border 0.3s ease-in-out;
  padding-left: 20px;
}

.categoryWrapper::after {
  content: '\22C1';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--Gray-4, #bdbdbd);
  pointer-events: none;
  font-size: 20px;
}

.category option {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease;
}

.category:focus,
.category:hover {
  border-bottom: 1px solid var(--color-btn);
}

.category option:hover,
.category option:focus {
  background-color: #e0e0e0;

}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.sumLabel {
  width: 280px;
  text-align: center;
  position: relative;
}

.sumInput {

  width: 280px;
  border: none;
  color: #bdbdbd;
  font-family: Circe;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 40px;
  padding: 8px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 40px;
  outline: none;
  padding-left: 20px;
  transition: border 0.3s ease-in-out;
}

.sumLabel:hover .sumInput,
.sumLabel:focus .sumInput {
  border-bottom: 1px solid var(--color-btn);
}

.comment {
  width: 280px;
  height: 84px;
  color: var(--Gray-4, #bdbdbd);
  font-family: Circe;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  resize: none;
  margin-top: 40px;
  margin-left: 0;
  margin-right: 20px;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-bottom: 50px;
  border-bottom: 1px solid #e0e0e0;
  overflow-y: 'hidden';
  outline: none;
  transition: border 0.3s ease-in-out;
}

.comment:hover,
.comment:focus {
  border-bottom: 1px solid var(--color-btn);
}

.addBtn {
  width: 300px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #24cca7;
  color: #fff;
  text-align: center;
  font-family: Circe;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  border: none;
  margin-bottom: 20px;
  transition: color 0.3s ease-in-out;
}

.addBtn:hover,
.addBtn:focus {
  color: var(--color-btn-link-main);
}

.closeBtn {
  width: 300px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #4a56e2;
  background: #fff;
  color: #4a56e2;
  text-align: center;
  font-family: Circe;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  margin-bottom: 37px;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.closeBtn:hover,
.closeBtn:focus {
  background-color: var(--color-btn);
  border: 1px solid var(--color-btn);
}

.dateLabel {
  width: 280px;
}

.dateContainer {
  width: 280px;
  padding-right: 16px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  transition: border 0.3s ease-in-out;
}

.dateContainer:hover,
.dateContainer:focus {
  border-bottom: 1px solid var(--color-btn);
}

.selectCategory {
  color: var(--Gray-4, #bdbdbd);
  font-family: Circe;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.formikMessage {
  position: absolute;
  right: 0;
  top: 80px;
  color: var(--pink-text);
  font-size: 14px;
}

.formikMessageRequired {
  position: absolute;
  right: 0;
  top: 32px;
  color: var(--pink-text);
  font-size: 14px;
}

.error {
  border-bottom: 1px solid var(--pink-text);
}

@media only screen and (min-width: 768px) {
  .modalOverlay {
    top: 0;
    background-color: rgba(0, 0, 0, 0.25);
  }

  .modal {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 540px;
    height: 508px;
    flex-shrink: 0;
    position: relative;
  }

  .category {
    width: 394px;
    padding-left: 0;
  }

  .modalExpense {
    height: 603px;
  }

  .headline {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 40px;
  }

  .form {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .closeButton {
    display: block;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .sumLabel {
    margin: 0px;
    width: 181px;
    margin-right: 32px;
  }

  .sumInput {
    width: 190px;
    margin-top: 33px;
    text-align: center;
    padding-left: 0;
  }


  .rangeContainerExpense {
    margin-bottom: 42px;
  }

  .dateLabel {
    width: 181px;
  }

  .dateContainer {
    width: 181px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    margin-right: 20px;
  }

  .closeBtn {
    margin-bottom: 10px;
  }

  .comment {
    width: 394px;
    padding: 0;
    margin: 0;
    height: 30px;
    margin-bottom: 40px;
  }
}