.modalOverlay {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: not-allowed;
  transform: scale(1);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}

.modal {
  width: 100vh;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  overflow: auto;
  cursor: pointer;
}

.closeButton {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
  display: none;
}

.modalContent {
  padding: 10px;
  cursor: pointer;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.headline {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 40px;
}

.rangeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.income {
  color: #24cca7;
  text-align: right;
  font-family: Circe;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 20px;
}

.expense {
  color: var(--Gray-5, #e0e0e0);
  font-family: Circe;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 20px;
}

.range {
  width: 80px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid var(--Gray-5, #e0e0e0);
  background: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sumLabel {
  width: 100%;
  margin-left: 20px;
}
.sumInput {
  max-width: 280px;
  border: none;
  color: #bdbdbd;
  font-family: Circe;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 40px;
  padding: 8px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 40px;
}

.comment {
  max-width: 300px;
  height: 84px;
  color: var(--Gray-4, #bdbdbd);
  font-family: Circe;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  resize: none;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 40px;
  padding-left: 20.5px;
  padding-bottom: 50px;
  border-bottom: 1px solid #e0e0e0;
  overflow-y: 'hidden';
}

.addBtn {
  width: 300px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #24cca7;
  color: #fff;
  text-align: center;
  font-family: Circe;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  border: none;
  margin-bottom: 20px;
}

.closeBtn {
  width: 300px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #4a56e2;
  background: #fff;
  color: #4a56e2;
  text-align: center;
  font-family: Circe;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  margin-bottom: 37px;
}

@media only screen and (min-width: 768px) {
  .modalOverlay {
    top: 0;
    background-color: rgba(0, 0, 0, 0.25);
  }
  .modal {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 540px;
    height: 508px;
    flex-shrink: 0;
    position: relative;
  }
  .headline {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 42px;
  }
  .form {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .closeButton {
    display: block;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .sumLabel {
    margin: 0px;
  }
  .sumInput { 
    width: 181px;
  }

  .dateLabel {
    width: 181px;
  }
  .comment {
    width: 394px;
    padding: 0;
    margin: 0;
    height: 30px;
    margin-bottom: 40px;
  }

}
