.container {
  display: flex;
}

.mobile {
  display: none;
}

.tablet {
  align-items: center;
  margin-top: 60px;
  height: 250px;
}

.desktop {
  flex-direction: column;
  align-items: center;
  margin-top: 153px;
  margin-left: 66px;
  margin-right: 138px;
}

.picture {
  background-image: url('../../../public/images/PictureSign.png');
  background-size: cover;
}

.pictureTablet {
  width: 274px;
  height: 250px;
  margin-right: 51px;
}

.pictureDesktop {
  width: 452px;
  height: 412.5px;
  margin-bottom: 32px;
}

.title {
  font-size: 30px;
}