.container {
  display: flex;
}

.mobile {
  display: none;
}

.tablet {
  align-items: center;
  margin-top: 60px;
  margin-left: 114px;
  height: 250px;
}

.desktop {
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  margin-left: 76px;
  margin-right: 145px;
}

.picture {
  background-image: url('../../../public/images/PictureLog.png');
  background-size: cover;
}

.pictureTablet {
  width: 260px;
  height: 250px;
  margin-right: 40px;
}

.pictureDesktop {
  width: 435px;
  height: 419.5px;
  margin-bottom: 28px;
}

.title {
  font-size: 30px;
}