.header {
    width: 100%;
    background-color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.mobile {
    height: 60px;
    padding: 0 20px;
    max-width: 320px;
}

.tablet {
    height: 80px;
    padding: 0 32px;
    max-width: 768px;
}

.desktop {
    height: 80px;
    padding: 0 16px;
    max-width: 1280px;
}