.DataFilter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      gap: 16px;
      flex-direction: row;
    }
  
    @media screen and (min-width: 1280px) {
      gap: 32px;
      flex-direction: row;
    }
  
    &__form {
      border-radius: 30px;
      width: 100%;
      height: 50px;
    }
  }