.button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  color: transparent;
  background-color: transparent;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .button {
    bottom: 40px;
    right: 40px;
  }
}
