.form {
    width: 320px;
    margin-top: 30px;
}

.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    color: white;
    margin-top: 10px;
}

.input {
    font-size: 18px;
    padding: 8px;
    outline: none;
    margin-top: 10px;
    margin-bottom: 5px;

}

.input:focus,
.input:hover {
    border: 2px solid #250519;
    background-color: #daa3c5;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
    display: block;
    width: 320px;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 0;
    background-color: #4d1437;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 15px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button:hover,
.button:focus {
    background-color: #3b0e2a;
    color: #daa3c5;
}

.formikMessage {
    color: #fa9191;
    font-size: 14px;
}