/*Mobile*/
.balance {
  background-color: white;
  border-radius: 30px;
  padding: 8px 32px;
  width: 100%;
  max-width: 380px;
  height: 80px;
  margin-bottom: 20px;
}

.balance__text {
  color: var(--primary-gray-font-color);
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
  padding-left: 15px;
}

.balance__amount {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
  display: flex;
  overflow: hidden;
}

.balance__currency {
  font-weight: 600;
  margin-right: 10px;
}

/*Tablet*/
@media screen and (min-width: 768px) {
  .balance {
    min-width: 336px;
    margin-bottom: 0;
  }
}

/*Desktop*/
@media screen and (min-width: 1280px) {
  .balance {
    max-width: 395px;
    margin-top: 5px;
    margin-bottom: 25px;
  }
}