@import 'modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "./stylesheet/variables.css";

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--black-text);

}

img {
  display: block;
  max-width: 100%;
  height: auto;
}