@import 'modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import './stylesheet/variables.css';
@import url('https://fonts.cdnfonts.com/css/circe');

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--black-text);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input.form-control {
  width: 146px;
height: 26px;
flex-shrink: 0;
color: #000;
border: none;
padding-left : 10px;
font-family: Circe;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 1px;
margin-bottom: 8px;
}

div.rdtPicker {
min-width: 100px;
}