.container {
  width: 100%;
}

.mobile {
  max-width: 320px;
  overflow: auto;
}

.tablet {
  background-image:
    url('../../../public/images/EllipsePink-tablet.png'),
    url('../../../public/images/EllipseViolet-tablet.png');
  background-position:
    right 0 top 0px,
    left 0 bottom 0px;
  background-size: auto, auto;
  background-repeat: no-repeat, no-repeat;
  filter: blur(25px);
  width: 100%;
  height: 100%;

}



.desktop {
  background-image:
    url('../../../public/images/EllipsePink.png'),
    url('../../../public/images/EllipseViolet.png');
  background-position:
    right 0 top 0px,
    left 0 bottom 0px;
  background-size: auto, auto;
  background-repeat: no-repeat, no-repeat;
  filter: blur(25px);
  width: 100%;
  height: 100%;
}